{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="flex">
    {% for tradeSkillType in tradeSkillTypes %}
        <div>
            <p>{{ tradeSkillType.name }}</p>
                <div class="flex flex-col">
            {% for tradeSkill in tradeSkillType.tradeSkills %}
                <div>
                    <img src="{{ vich_uploader_asset(tradeSkill, 'imageFile') }}" alt="{{ tradeSkill.imageName }}" />
                    <a href="{{ path('home_tradeSkill', {'slug': tradeSkill.slug}) }}">{{ tradeSkill.name }}</a>
                </div>
                    <br>
            {% endfor %}
                </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
